table {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.951)
  }
  
  .memory-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .memory-card .card-content {
    width: 100%;
    height: 100%;
    background-image: url("back.png"); 
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    max-width: 100%;
    max-height: 100%;
  }
  
  .memory-card .card-front,
  .memory-card .card-back {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      font-weight: bold;
      color: transparent;
      backface-visibility: hidden;
  }
  .memory-card .back-face {
    background-image: url("back.png");
    background-size: cover;
  }

  .flipped {
    transform: rotateY(180deg);
  }

  td {
    border: 2px solid #333;
   height: 150px;
   text-align: center;
   font-size: 400%;
   background-image: url("back.png");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   width: 100px;
   position: relative;
   cursor: pointer;
   perspective: 1000px;
  }
  
  thead,
  tfoot {
    background-color: #333;
    color: #fff;
  }
  
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .message {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .hidden {
    display: none;
    }

  .reset {
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .reset:hover {
    background-color: #555; 
  }


